#main {
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
}

.move_icon {  /* the icons*/
    height: 15vh;
    max-height: 33vw;
    width: 15vh;
    max-width: 33vw;            
}

#camera_img {
    width: auto;
    max-width: 100vw;
    height: 50vh;
    object-fit: scale-down;
    margin: 0 auto;
    display: block;
}

#move_buttons {
    width: 50vh;
    min-width: 110vw;
    margin-left: -25vh; /*half the width to correctly center*/
    position: fixed;
    bottom: 1vh;
    left: 50%;
}

.buttons_row * {display: inline;}
.left {margin: auto auto auto 0;}
.center {margin: auto;}
.right {margin: auto 0 auto auto;}

#arrow_left_up {-webkit-transform: rotate(45deg); transform: rotate(45deg);}
#arrow_up {-webkit-transform: rotate(90deg); transform: rotate(90deg);}
#arrow_right_up {-webkit-transform: rotate(135deg); transform: rotate(135deg);}
#arrow_left_rotate {-webkit-transform: scaleX(-1); transform: scaleX(-1);}
#arrow_right_rotate {-webkit-transform: rotate(0deg); transform: rotate(0deg);}
#arrow_left_down {-webkit-transform: rotate(315deg); transform: rotate(315deg);}
#arrow_down {-webkit-transform: rotate(270deg); transform: rotate(270deg);}
#arrow_right_down {-webkit-transform: rotate(225deg); transform: rotate(225deg);}

